<div class="container-fluid">
  <div class="row flex-nowrap">

    <div class="container p-5">
      <h1 style="color: red;">Admin dashboard</h1>
      <h1>Welcome {{email}}</h1>
      <h2> Your firstName is : {{firstName}} </h2>
      <h2> Your firstName is : {{lastName}} </h2>

      <p>Get Web Hosting</p>
      <a href="/" class="btn btn-primary">Get Started</a>
      <a href="/logout" class="btn btn-primary">logout</a>
    </div>
  </div>

</div>