<link rel="stylesheet" href="../css/addPlanAdmin.css" />

<header id="header">
  <nav>
    <div class="container">
      <div class="text-center">
        <a href="/" class="nav-brand text-dark">User Management System</a>
      </div>

    </div>
  </nav>
</header>

<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex justify-between">
      <div class="filter">
        <a href="/adminDashboard"><i class="fas fa-angle-double-left"></i>
          All Users</a>
      </div>
    </div>
    <div class="form-title text-center">
      <h2 class="text-dark">Update User</h2>
      <span class="text-info">Use the below form to update an account</span>
    </div>

    {{#if singlePlan}}

      <form action="/updatePlanData" method="POST" id="update_user">
        <div class="new_user">
          <input type="hidden" name="_id" value="{{singlePlan._id}}" />

          <div class="form-group">
            <label for="planName" class="text-dark">Plan Name</label>
            <input
              type="text"
              name="planName"
              value="{{singlePlan.planName}}"
              placeholder="Plan Name"
            />
          </div>
          <div class="form-group">
            <label for="planPrice" class="text-dark">Plan price</label>
            <input
              type="number"
              name="planPrice"
              value="{{singlePlan.planPrice}}"
              placeholder="Plan Price"
            />
          </div>
          <div class="form-group">
            <label for="description" class="text-dark">description</label>
            <input
              type="text"
              name="description"
              value="{{singlePlan.description}}"
              placeholder="Plan description"
            />
          </div>

          <div class="form-group">
            <label for="popular" class="text-dark">Popular</label>
            <div class="radio inline">
              <input type="radio" id="radio-2" name="popular" value="Yes" />
              <label for="radio-2" class="radio-label">Yes</label>
            </div>
            <div class="radio inline">
              <input type="radio" id="radio-3" name="popular" value="No" />
              <label for="radio-3" class="radio-label">No</label>
            </div>
          </div>

          <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
          </div>

        </div>
      </form>
    {{/if}}

  </div>
</main>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
  integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
{{! <script src="/js/index.js"></script> }}