<link rel="stylesheet" href="css/footer.css" />

<footer>
  <div class="container">
    <div class="row footer-section">

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 section">
        <h3>Hosting</h3>
        <h6>web hosting</h6>
        <h6>wordpress hosting</h6>
        <h6>Managed WordPress</h6>
        <h6>Hosting</h6>
        <h6>Reseller Hosting</h6>
        <h6>VPS Hosting</h6>
        <h6>Email Hosting</h6>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 section">
        <h3>Services</h3>
        <h6>Blog Hosting</h6>
        <h6>CMS Hosting</h6>
        <h6>CRM Hosting</h6>
        <h6>eCommerce Hosting</h6>
        <h6>Forum Hosting</h6>
        <h6>Linux Hosting</h6>
        <h6>Wiki Hosting</h6>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 section">
        <h3>Features</h3>
        <h6>Developer Friendly</h6>
        <h6>Hosting</h6>
        <h6>Domain Registration</h6>
        <h6>Domain Transfer</h6>
        <h6>SwiftServers Fast</h6>
        <h6>Hosting</h6>
        <h6>Compare Hosting</h6>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 section">
        <h3>Security & SSL</h3>
        <h6>SSL Certificates</h6>
        <h6>SiteSafe Protection</h6>
        <h6>Enterprise Anti-Spam</h6>
        <h6>Domain Privacy</h6>
        <h6>Protection</h6>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 section">
        <h3>Company</h3>
        <h6>About A2 Hosting</h6>
        <h6>A2 Hosting Reviews</h6>
        <h6>Affiliate Program</h6>
        <h6>Careers</h6>
        <h6>Data Centers</h6>
        <h6>Policies</h6>
        <h6>Terms Of Service</h6>
        <h6>Privacy Policy</h6>
        <h6>Locations</h6>
        <h6>Refer-A-Friend</h6>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 section">
        <h3>Support</h3>
        <h6>Submit a Support Ticket Contact Sales</h6>
        <h6>Knowledgebase</h6>
        <h6>A2 Hosting Blog</h6>
        <h6>99.9% Uptime</h6>
        <h6>Commitment</h6>
        <h6>Money Back Guarantee</h6>
      </div>

      <div id="followIcon" class="col-xl-12 col-lg-5 col-xl-12 social-icons">
        <hr class="line" />
        <span>follow on</span>
        <img src="../../images/facebook.PNG" style="margin-left: 10px;" />
        <img src="../../images/instagram.PNG" />
        <img src="../../images/twitter.PNG" />
        <img src="../../images/youtube.PNG" />
        <img src="../../images/linkedin.PNG" />
      </div>

      <div class="col-12 text-center">
        <hr class="line" />
        <h5>All Copyright @Web hosting</h5>
      </div>
    </div>
  </div>
</footer>