<link rel="stylesheet" href="css/home.css" />


<!-- A Hero section -->
    <div class="container">
      <div class="row hero-section col-12 text-center">
        
          <div class="col-sm-12 col-md-6 col-xl-4">
            <h1>Choose superior web hosting</h3>
            <div class="input-group-btn">
              <button class="btn btn-default searchbtn btnpromotion" type="submit">
                Get web hosting</i>
              </button>
            </div>
            <h5>starting at only $4.99/mo.</h5>
          </div>
          
          <div class="col-sm-12 col-md-6 col-xl-4">
            <img src="../images/promo01.jpg">
          </div>

          <div class="col-sm-12 col-md-12 col-xl-4">
            <h2>Find your perfect .CA domain name</h3>
            <div class="input-group-btn">
              <button class="btn btn-default searchbtn btnpromotion" type="submit">
                Search domain</i>
              </button>
            </div>
            <h5>starting at only $54.99/yr.</h5>
          </div>

      </div>
    </div>

    <!-- A Search section -->

    <div class="container-fluid">
      <div class="row search-section">
        <div
          class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-9 search-and-btn"
        >
          <form>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Search"
                name="search"
              />
              <div class="input-group-btn">
                <button class="btn btn-default searchbtn" type="submit">
                  <i class="glyphicon glyphicon-search">Search</i>
                </button>
              </div>
            </div>
          </form>
        </div>

        <div
          class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 dealsAll center"
        >
          <span class="deals1"
            ><img src="../images/firstHostImage.PNG" />$C9.99</span
          >
          <span class="deals2"
            ><img src="../images/secondHostImage.PNG" />$C9.99</span
          >
          <span class="deals3"
            ><img src="../images/thirdHostImage.PNG" />$C9.99</span
          >
        </div>
      </div>
    </div>

    <!--Content section -->

    <div class="container">
        <div class="row col-12 text-center ContaintCotent">
            <p><b>Hosting is even better with all these FREE features.</b></p>
        </div>
    </div>

    <div class="container">
        <div class="row ContentDetails text-center">

            <div class=" col-sm-12 col-md-6 col-xl-3">
                <img src="../images/containtImage02.PNG">
                <h3>Domain registration</h3>
                <h5>Claim your name and get yourself online.</h5>
            </div>

            <div class="col-sm-12 col-md-6 col-xl-3">
                <img src="../images/containtImage03.PNG">
                <h3>SSL certificate</h3>
                <h5>Show your visitors you take security seriously.</h5>
            </div>

            <div class="col-sm-12 col-md-6 col-xl-3">
                <img src="../images/containtImage04.PNG">
                <h3>One-click installs</h3>
                <h5>Integrating your apps couldn't be any easier.</h5>
            </div>

            <div class="col-sm-12 col-md-6 col-xl-3">
                <img src="../images/containtImage05.PNG">
                <h3>Unlimited storage</h3>
                <h5> couldn't be any easier. Unlimited storage Room for all the files. Go ahead and fill 'er up.</h5>
            </div>
        </div>
    </div>